.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-backdrop;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms $timing-function;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
