.button {
  padding: 10px 32px;

  color: $primari-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px $button-shadow;
}
