.card-set {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.card-set__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: border 250ms $timing-function, box-shadow 250ms $timing-function;

  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.card-set__meta {
  padding: 20px 24px;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.card-set__title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.88;
}

.card-set__link {
  text-decoration: none;
  display: block;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__overlay-text {
  width: 322px;
  height: 168px;

  font-size: 18px;
  line-height: 1.55;
  color: $primari-white-color;
}

.card-set__overlay {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  background-color: $background-description-portfolio;
  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  .card-set__item:hover &,
  .card-set__item:focus & {
    transform: translateY(0%);
  }
}
