.client-card {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client-card__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.client-card__link {
  @extend %centeredFlex;
  // width: 210px;
  height: 92px;
  border: 1px solid $border-client-color;
  border-radius: 4px;
  color: $primary-icon-color;
  transition: border-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.client-card__icon {
  fill: currentColor;
}
