.contacts-nav {
  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 84px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.contacts-nav__item {
  fill: currentColor;

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    // margin-right: 0px;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts-nav__link {
  @extend %centeredFlex;
  color: $primary-text-color;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms $timing-function;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.contacts-nav__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-nav__icon--thinner {
  width: 10px;
  height: 16px;
}
