.contacts-nav {
  @extend %list;
  // margin-top: 306px;
  // margin-bottom: 64px;

  @media screen and (max-width: 747px) {
    // display: none;
    margin-top: 306px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 84px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: 200px;
  }
}

.contacts-nav__item {
  fill: currentColor;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    font-size: 24px;
    line-height: 1.67;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    // margin-right: 0px;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-nav__link {
  color: $primary-text-color;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms $timing-function;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.contacts-nav__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-nav__icon--thinner {
  width: 10px;
  height: 16px;
}
