.footer-form {
  margin-left: auto;
}

.footer-form__content {
  display: flex;
}

.footer-form__input {
  margin-right: 12px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $secondary-background-color-dark;
  color: $footer-placeholder-color;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $footer-placeholder-color;
  }
}

.footer-form__text {
  display: block;
  margin-bottom: 20px;
  color: $primari-white-color;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form .button {
  padding: 10px 29px;
  @extend %centeredFlex;
  width: 200px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
