.form__field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $title-text-color;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form__thumb {
  position: relative;
}

.form__input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $timing-function, outline 250ms $timing-function;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    border: 1px solid #2196f3;
    outline: none;
  }
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms $timing-function;

  .form__input:focus + & {
    fill: #2196f3;
  }
}

.form__comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus-visible {
    border: 1px solid #2196f3;
    outline: none;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--hero-placeholder-color);
  }
}
