.main-nav {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.main-nav__btn {
  background-color: transparent;
  border: none;
  padding: 0px;

  height: 16px;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
