.main-nav {
  display: flex;

  align-items: center;

  @media screen and (max-width: $tablet) {
    justify-content: space-between;
  }
}

.main-nav__btn {
  background-color: transparent;
  border: none;
  padding: 0px;

  height: 16px;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
