.main-nav {
  // @include centeredFlex(center);

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav__icon-close {
  display: none;

  .is-open & {
    display: block;
  }
}

.is-open .main-nav__icon-menu {
  display: none;
}

.main-nav__btn {
  background-color: transparent;
  border: none;
  padding: 0px;

  @media screen and (min-width: 767px) {
    display: none;
  }
}
