.menu-container {
  //   text-align: center;
  //   position: relative;

  background-color: $primari-white-color;

  @media screen and (max-width: 767px) {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 25px;
    // display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
    align-items: center;
  }
}
