.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color-dark;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  color: $primari-white-color;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
