.products {
}
.container {
}
.products__title {
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
}
.products__lable {
  font-family: 'Titan One', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
}
.products-cards {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.products-cards__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 280px;
  min-height: 629px;

  text-align: center;
}

.products-cards__wrap {
  position: absolute;
  bottom: 0;

  max-width: 280px;
  min-height: 489px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 38px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #ffb8ca;
  border-radius: 24px;

  &::before {
    position: absolute;
    bottom: 349px;
    left: 0;
    content: '';
    display: block;
    width: 280px;
    height: 280px;
    margin: 32px auto;

    background-image: url(../images/ice-cream.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.products-cards__title {
  //   position: relative;
  font-family: 'Titan One', sans-serif;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  &::after {
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    margin: 32px auto;

    background-image: url(../images/product-circles.svg);
  }
}
.products-cards__text {
  margin-bottom: 32px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.products-cards__btn {
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50px;
  background-color: #ffffff;

  margin-left: auto;
  margin-right: auto;
}

.products-cards__icon {
  fill: #d41443;
}
