.products {
  padding-top: 80px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
}

.products__wraper {
  display: flex;
  flex-direction: column;
}

.products__lable {
  font-family: 'Titan One', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 9px;
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.products-cards {
  padding: 0px;
  margin: 0px;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  @media screen and (min-width: 1200px) {
    margin: -16px;
  }
}
.products-cards__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 24px;

  width: 100%;
  min-height: 489px;
  margin-top: 140px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;

  @media screen and (min-width: 480px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 16px) / 3);
    margin: 8px;
    margin-top: 154px;

    max-width: 224px;
    min-height: 473px;

    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 32px) / 3);
    margin: 16px;
    margin-top: 261px;

    max-width: 394px;
    min-height: 535px;

    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 60px;
  }
}

.products-cards__item-first {
  background: #ffb8ca;

  &::before {
    position: absolute;
    bottom: 349px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 280px;

    background-image: url(../images/ice-cream.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 767px) {
    margin-top: 150px;
  }

  @media screen and (min-width: 480px) {
    &::before {
      bottom: 349px;
      width: 280px;
      height: 280px;
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      bottom: 387px;
      width: 224px;
      height: 224px;
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      bottom: 402px;
      width: 394px;
      height: 394px;
    }
  }
}

.products-cards__item-second {
  background: #f0d1a5;

  &::before {
    position: absolute;
    bottom: 349px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 280px;

    background-image: url(../images/ice-coffee.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 480px) {
    &::before {
      bottom: 349px;
      width: 280px;
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      bottom: 387px;
      width: 224px;
      height: 224px;
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      bottom: 402px;
      width: 394px;
      height: 394px;
    }
  }
}

.products-cards__item-third {
  background: #c2e297;

  &::before {
    position: absolute;
    bottom: 349px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 280px;

    background-image: url(../images/milcshakes.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 480px) {
    &::before {
      bottom: 349px;
      width: 280px;
    }
  }

  @media screen and (min-width: 768px) {
    &::before {
      bottom: 387px;
      width: 224px;
      height: 224px;
    }
  }

  @media screen and (min-width: 1200px) {
    &::before {
      bottom: 402px;
      width: 394px;
      height: 394px;
    }
  }
}

.products-cards__title {
  font-family: 'Titan One', sans-serif;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }

  &::after {
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    margin: 32px auto;

    background-image: url(../images/product-circles.svg);
  }
}
.products-cards__text {
  max-width: 100%;
  height: 124px;

  margin-bottom: 32px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #ffffff;

  @media screen and (min-width: 480px) {
    max-width: 200px;
  }

  @media screen and (min-width: 768px) {
    max-width: 160px;
    height: 150px;
    font-size: 14px;
    line-height: 1.79;
  }

  @media screen and (min-width: 1200px) {
    max-width: 245px;
    height: 106px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.79;
  }
}

.products-cards__btn {
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50px;
  background-color: #ffffff;

  margin-left: auto;
  margin-right: auto;
}

.products-cards__icon {
  fill: #d41443;
}
