.social-nav {
  display: none;

  @media screen and (max-width: 747px) {
    display: block;
    display: flex;

    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}

.social-nav__item {
  height: 22px;
}

.social-nav__item {
  padding-right: 5px;
  padding-left: 5px;
}

.social-nav__item:first-child {
  padding-left: 0px;
}

.social-nav__item:last-child {
  padding-right: 0px;
}

.social-nav__item:not(:last-child) {
  border-right: 1px solid #21212133;
}

.social-nav__link {
  position: relative;
  text-decoration: none;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
