.team-card {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-card__item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $primari-white-color;

  @media screen and (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team-card__img {
  width: 100%;
  height: auto;

  @media screen and (min-width: $tablet) {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    height: auto;
  }
}

.team-card__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-card__name {
  text-align: center;
  margin-bottom: 10px;
}

.team-card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
