$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primari-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$secondary-background-color-dark: #2f303a;
$secondary-background-color-light: #f5f4fa;
$logo-black: #000000;
$border-header-color: rgba(236, 236, 236, 100%);
$border-cards-color: rgba(238, 238, 238, 100%);
$hero-gradient: rgba(47, 48, 58, 0.4);
$border-client-color: rgba(175, 177, 184, 1);
$linear-gradient-hero-color: rgba(47, 48, 58, 0.4);
$primary-icon-color: #afb1b8;
$background-icon-footer-color: rgba(255, 255, 255, 0.1);
$background-backdrop: rgba(0, 0, 0, 0.2);
$background-hero: rgba(47, 48, 58, 1);
$background-description-index: rgba(47, 48, 58, 0.8);
$background-description-portfolio: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$button-shadow: rgba(0, 0, 0, 0.15);
$hero-placeholder-color: rgba(117, 117, 117, 0.5);
$footer-placeholder-color: rgba(255, 255, 255, 0.6);
